.home-section {
    position: relative;
    isolation: isolate;
    height: 100svh;

    background-image: url("../assets/images/memories/cover-photo.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


/* PURPLE COLOR MASK */

.home-section::before {
    content: "";
    position: absolute;
    inset: 0;

    background: var(--bg-primary);
    mix-blend-mode: color;

    pointer-events: none;
    z-index: 1;
}


/* DARK OVERLAY */

.home-section::after {
    content: "";
    position: absolute;
    inset: 0;

    background: rgba(26, 16, 37, 0.8);

    pointer-events: none;
    z-index: 2;
}


/* CONTENT */

.home-headline {
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 200px;

    /* border: 1px red solid; */
}

.home-headline .date h1 {
    color: var(--text-muted);
    /* text-align: center; */
    font-size: 1.5rem;
    font-family: var(--font-script);
}

.home-headline h1 {
    position: relative;
}

.home-headline p {
    font-family: var(--font-script);
    font-size: 1.5rem;
}

.home .hint {
    position: absolute;
    bottom: 20px;
    z-index: 50;
    inset-inline: 0;
    
    font-size: .7rem;

    opacity: 0;
    transform: translateY(100px);

    transition: opacity .3s ease, transform .3s 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: 1000ms;
}

.home-section.is-active .home .hint {
    opacity: .4;
    transform: translateY(0);
}


/* BUTTON */

.next-page-btn {
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 50;
    background-color: var(--accent-hot);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    filter: drop-shadow(7px 7px 8px rgba(0, 0, 0, .5));
    font-family: var(--font-script);

    overflow: visible;

    transform: translateX(170px);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: 1000ms;
}

.home-section.is-active .next-page-btn {
    transform: translateX(0) rotate(-3deg);
}

.next-page-btn .hint{
    position: absolute;
    bottom: calc(100% + 1px);
    left: -70%;
    white-space: nowrap;
    font-size: .9rem;
}